@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2b2b2b;
  --foreground: #A259FF;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
